<md-card>
    <md-card-content ng-controller="formFornecedorController">
    <form name="NovoFornecedor">
        <md-input-container class="md-icon-float md-block">
            <label>Nome</label>
            <md-icon md-svg-icon="social:ic_person_24px" aria-label="Nome"></md-icon>
            <input required ng-model="fornecedor.nome" type="text">
            <div class="hint">Razão social do fornecedor</div>
        </md-input-container>

        <div layout-gt-sm="row">

            <md-input-container class="md-icon-float flex-gt-sm">
                <label>CNPJ</label>
                <md-icon md-svg-icon="action:ic_credit_card_24px" aria-label="CNPJ"></md-icon>
                <input required ng-model="fornecedor.CNPJ" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float flex-gt-sm">
                <label>Telefone</label>
                <md-icon md-svg-icon="communication:ic_phone_24px" aria-label="Telefone"></md-icon>
                <input required ng-model="fornecedor.telefone" type="number">
            </md-input-container>

        </div>

        <md-input-container class="md-icon-float md-block">
            <label>Prazo de Entrega</label>
            <md-icon md-svg-icon="action:ic_today_24px" aria-label="Prazo de Entrega"></md-icon>
            <input required ng-model="fornecedor.prazo" type="number">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label>Endereço</label>
            <md-icon md-svg-icon="maps:ic_place_24px" aria-label="Endereço"></md-icon>
            <input required ng-model="fornecedor.endereco" type="text">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
            <label>Complemento</label>
            <md-icon md-svg-icon="action:ic_info_24px" aria-label="Complemento"></md-icon>
            <input ng-model="fornecedor.complemento" type="text">
        </md-input-container>

        <div layout-gt-sm="row" layout="column">

            <md-input-container class="md-icon-float flex-gt-sm">
                <label>CEP</label>
                <md-icon md-svg-icon="action:ic_markunread_mailbox_24px" aria-label="CEP"></md-icon>
                <input required ng-model="fornecedor.CEP" type="number">
            </md-input-container>

            <md-input-container class="md-icon-float flex-gt-sm">
                <label>Estado</label>
                <md-icon md-svg-icon="maps:ic_map_24px" aria-label="Estado"></md-icon>
                <md-select required ng-model="fornecedor.estado">
                    <md-option ng-repeat="estado in estados" value="{{estado.sigla}}">
                        {{estado.nome}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-icon-float flex-gt-sm">
                <label>Cidade</label>
                <md-icon md-svg-icon="social:ic_location_city_24px" aria-label="Cidade"></md-icon>
                <input required ng-model="fornecedor.cidade" type="text">
            </md-input-container>

        </div>

        <md-button class="md-raised md-primary" aria-label="Salvar" type="submit">Salvar</md-button>

    </form>
    </md-card-content>
</md-card>