<md-card>
    <md-card-content>
    
        <form name="fornecedorForm" ng-submit="salvarFornecedor()">

            <md-input-container class="md-block">
                <label>CNPJ (obrigatório)</label>
                <input id="input-cnpj" name="cnpj" pattern="[0-9]{2}\.?[0-9]{3}\.?[0-9]{3}\/?[0-9]{4}\-?[0-9]{2}" required ng-model="fornecedor.cnpj" type="text" ng-disabled="edicao">
                <div ng-messages="fornecedorForm.cnpj.$error" ng-if="fornecedorForm.cnpj.$dirty">
                    <div ng-message="required">CNPJ é um campo obrigatório!</div>
                    <div ng-message="pattern">O CNPJ fornecido é inválido!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Nome (obrigatório)</label>
                <input id="input-nome" name="nome" required ng-model="fornecedor.nome" type="text">
                <div ng-messages="fornecedorForm.nome.$error" ng-if="fornecedorForm.nome.$dirty">
                    <div ng-message="required">Nome é um campo obrigatório!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>E-mail</label>
                <input id="input-email" name="email" ng-model="fornecedor.email" type="email">
                <div ng-messages="fornecedorForm.email.$error" ng-if="fornecedorForm.email.$dirty">
                    <div ng-message="email">O e-mail fornecido é inválido!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Telefone</label>
                <input id="input-telefone" name="telefone" ng-model="fornecedor.telefone" type="tel">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Prazo de Entrega em Dias</label>
                <input id="input-prazoEntregaDias" name="prazoEntregaDias" min="0" ng-model="fornecedor.prazoEntregaDias" type="number">
                <div ng-messages="fornecedorForm.prazoEntregaDias.$error" ng-if="fornecedorForm.prazoEntregaDias.$dirty">
                    <div ng-message="min">O Prazo de Entrega em Dias não pode ser negativo!</div>
                </div>
            </md-input-container>

            <!-- <md-input-container class="md-block">
                <label>País</label>
                <input id="input-endereco_Pais" name="endereco_Pais" ng-model="fornecedor.endereco_Pais" type="text">
            </md-input-container> -->

            <div layout-gt-sm="row" div class="md-inline-form">

                <md-input-container class="md-block" flex>
                    <label>CEP</label>
                    <input id="input-endereco_CEP" name="endereco_CEP" pattern="[0-9]{2}\.?[0-9]{3}\-?[0-9]{3}" ng-model="fornecedor.endereco_CEP" type="text">
                    <div ng-messages="fornecedorForm.endereco_CEP.$error" ng-if="fornecedorForm.endereco_CEP.$dirty">
                        <div ng-message="pattern">O CEP fornecido é inválido!</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Estado</label>
                    <md-select id="select-endereco_Estado" name="endereco_Estado" ng-model="fornecedor.endereco_Estado">
                        <md-option ng-repeat="estado in estados" value="{{estado.sigla}}" selected="{{estado.sigla === fornecedor.endereco_Estado ? 'selected' : '' }}">
                            {{estado.nome}} ({{estado.sigla}})
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Cidade</label>
                    <input id="input-endereco_Cidade" name="endereco_Cidade" ng-model="fornecedor.endereco_Cidade" type="text">
                </md-input-container>

            </div>

            <md-input-container class="md-block">
                <label>Endereço</label>
                <input id="input-endereco_Logradouro" name="endereco_Logradouro" ng-model="fornecedor.endereco_Logradouro" type="text">
            </md-input-container>

            <md-input-container>
                <md-switch id="input-ativo" name="ativo" ng-model="fornecedor.ativo" aria-label="Ativo">
                    Fornecedor {{fornecedor.ativo === true ? "Ativo" : "Desativado"}}
                </md-switch>
            </md-input-container>

            <md-input-container class="md-block">
                <md-button id="button-salvarFornecedor" class="md-raised md-primary" aria-label="Salvar" type="submit" ng-disabled="!fornecedorForm.$valid">{{buttonAction}}</md-button>
            </md-input-container>

        </form>

    </md-card-content>
</md-card>