<md-card>
    <md-card-content>

        <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add" ng-href="#materias-primas/novo">
            <md-icon md-svg-icon="content:ic_add_24px" aria-label="Plus"></md-icon>
        </md-button>
        

        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column md-numeric><span>SKU</span></th>
                        <th md-column><span>Nome</span></th>
                        <th md-column><span>Fornecedor</span></th>
                        <th md-column><span>Tipo</span></th>
                        <th md-column><span>Descrição</span></th>
                        <th md-column md-numeric><span>Quantidade</span></th>
                        <th md-column><span>Data de Entrada</span></th>
                        <th md-column><span>Data de Saída</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="materiaPrima in materiasPrimas" ng-click="ficha(materiaPrima)">
                        <td md-cell>{{materiaPrima.sku}}</td>
                        <td md-cell>{{materiaPrima.nome}}</td>
                        <td md-cell>FORNECEDOR</td>
                        <td md-cell>{{materiaPrima.tipo}}</td>
                        <td md-cell>{{materiaPrima.descricao}}</td>
                        <td md-cell>{{materiaPrima.valorUnidade}} {{materiaPrima.unidade}}s</td>
                        <td md-cell>{{materiaPrima.dataEntrada | date:"dd/MM/yyyy"}}</td>
                        <td md-cell>{{materiaPrima.dataSaida | date:"dd/MM/yyyy"}}</td>
                        <!-- <td md-cell>
                            <md-button class="md-secondary md-accent md-raised" ng-href="#materia-prima/editar" ng-click="$event.stopPropagation()"><md-icon md-svg-icon="editor:ic_mode_edit_24px" aria-label="Editar"></md-icon>Editar</md-button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </md-table-container>


        <md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>

    </md-card-content>
</md-card>