<table>
  <tr>
    <td><h3>Detalhes de {{materiaprima.nome}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>SKU:</td>
    <td>{{materiaprima.sku}}</td>
  </tr>  
  <tr>
    <td>Tipo:</td>
    <td>{{materiaprima.tipo}}</td>
  </tr>
  <tr>
    <td>Descrição:</td>
    <td>{{materiaprima.descricao}}</td>
  </tr>
  <tr>
    <td>Unidade:</td>
    <td>{{materiaprima.unidade}}</td>
  </tr>
  <tr>
    <td>Valor Unidade:</td>
    <td>{{materiaprima.valorUnidade}}</td>
  </tr>
  
</table>
<div>
  <a class="btn btn-primary" ui-sref="editarMateriaPrima({sku:materiaprima.sku})">Editar</a>
</div>