html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.wrapper {
    height: 100%;
}

/* SideNav */

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 100;
  padding: 16px 40px;
  margin: 0;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

h1 span {
    font-style: italic;
}

md-sidenav  {
    height:100%;
    max-width: 250px;
}

md-sidenav md-list.usuario md-list-item {
    padding-left: 42px;
}

md-sidenav md-list.usuario md-list-item a {
    text-decoration: none;
    color: inherit;
}

md-sidenav md-list.usuario md-list-item md-icon {
    width: 18px;
    height: 18px;
}

md-sidenav md-list.navegacao md-list-item.active {
    background-color: #ececec;
}

md-sidenav md-list.navegacao md-list-item a {
    margin: 0 !important;
    padding-top: 8px !important;
}

md-sidenav md-list.navegacao md-list-item a md-icon {
    padding: 0 0 0 24px;
}

/* Content */

#content {
    background: #efefef;
}

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 32px;
    bottom: 16px;
    left: auto;
    position: fixed;
}

md-content {
    height:100%;
}

md-content md-card {
    margin:24px;
}

md-content md-card .md-secondary md-icon {
    padding: 0 6px 0 0;
    width: 18px;
    height: 18px;
}

md-content md-card a.md-secondary {
    padding: 0 !important;
}

/* Forms */

md-content md-card md-input-container md-icon {
    padding-top: 6px;
    width: 24px;
    height: 24px;
}

md-content md-card md-input-container {
    /*max-width: 600px;*/
}

md-input-container .hint {
    position: absolute;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: #aaa;
}

md-input-container.md-input-invalid > md-icon,
md-input-container.md-input-invalid > md-icon {
    color: red;
}