<a ui-sref="novoFornecedor" class="btn-primary btn-lg nodecoration">Adicionar Fornecedor</a>
<table>
  <tr>
    <td><h3>Todos Fornecedores</h3></td>
    <td></td>
  </tr>
  <tr ng-repeat="fornecedor in fornecedores">
    <td>{{fornecedor.nome}}</td>
    <td>
      <a class="btn btn-primary" ui-sref="verMateriaPrima({id:fornecedor.id})">Ver</a>
      <a class="btn btn-danger"  ng-click="inativarFornecedor(fornecedor)">
      	<font color="red">Inativar</font>
      </a>
    </td>
  </tr>
</table>