<table>
  <tr>
    <td><h3>Detalhes de {{fornecedor.nome}}</h3></td>
    <td></td>
    
  <tr>
    <td>CNPJ:</td>
    <td>{{fornecedor.cnpj}}</td>
  </tr>  
  <tr>
    <td>Email:</td>
    <td>{{fornecedor.email}}</td>
  </tr>
  <tr>
    <td>Telefone:</td>
    <td>{{fornecedor.telefone}}</td>
  </tr>
  <tr>
    <td>Prazo de Entrega (Dias):</td>
    <td>{{fornecedor.prazoEntregaDias}}</td>
  </tr>
  <tr>
    <td>País:</td>
    <td>{{fornecedor.endereco_Pais}}</td>
  </tr>
  <tr>
    <td>Estado:</td>
    <td>{{fornecedor.endereco_Estado}}</td>
  </tr>
  <tr>
    <td>Cidade:</td>
    <td>{{fornecedor.endereco_Cidade}}</td>
  </tr>    
    <tr>
    <td>Logradouro:</td>
    <td>{{fornecedor.endereco_Logradouro}}</td>
  </tr> 
    <tr>
    <td>CEP:</td>
    <td>{{fornecedor.endereco_CEP}}</td>


  
</table>
<div>
  <a class="btn btn-primary" ui-sref="editarFornecedor({id:fornecedor.cnpj})">Editar</a>
</div>