<md-card>
    <md-card-content>

        <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add" ng-href="#fornecedores/novo">
            <md-icon md-svg-icon="content:ic_add_24px" aria-label="Plus"></md-icon>
        </md-button>

        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column><span>Nome</span></th>
                        <th md-column><span>Telefone</span></th>
                        <th md-column><span>Endereço</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="fornecedor in fornecedores">
                        <td md-cell>{{fornecedor.nome}}</td>
                        <td md-cell>{{fornecedor.telefone}}</td>
                        <td md-cell>{{fornecedor.endereco}}</td>
                        <td md-cell>
                            <md-button class="md-secondary md-accent md-raised" ng-href="#fornecedores/editar"><md-icon md-svg-icon="editor:ic_mode_edit_24px" aria-label="Editar"></md-icon>Editar</md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

    </md-card-content>
</md-card>