<md-card>
    <md-card-content>

    <h2>Matéria-prima SKU: {{materiaPrima.sku}}</h2>

    <div layout-gt-sm="row">
        <div flex>
            <h3 class="md-title">Data de Entrada</h3>
            <p>{{materiaPrima.dataEntrada | date:"dd/MM/yyyy"}}</p>
        </div>
        <div flex>
            <h3 class="md-title">Data de Saída</h3>
            <p>{{materiaPrima.dataSaida | date:"dd/MM/yyyy"}}</p>
        </div>
    </div>

    <div layout-gt-sm="row">
        <div flex>
            <h3 class="md-title">Nome</h3>
            <p>{{materiaPrima.nome}}</p>
        </div>
        <div flex>
            <h3 class="md-title">Descrição</h3>
            <p>{{materiaPrima.descricao}}</p>
        </div>
        <div flex>
            <h3 class="md-title">Fornecedor</h3>
            <p>{{materiaPrima.fornecedor}}</p>
        </div>
        <div flex>
            <h3 class="md-title">Tipo</h3>
            <p>{{materiaPrima.tipo}}</p>
        </div>
    </div>

    <div layout-gt-sm="row">
        <div flex>
            <h3 class="md-title">Unidade</h3>
            <p>{{materiaPrima.unidade}}</p>
        </div>
        <div flex>
            <h3 class="md-title">Valor Unitário</h3>
            <p>{{materiaPrima.valorUnidade}}</p>
        </div>
    </div>

    <div layout-gt-sm="row">
        <md-button class="md-primary md-raised" ng-href="#materias-primas/editar/{{materiaPrima.sku}}">Editar</md-button>

        <md-button class="md-warn md-raised" ng-click="showConfirm($event)">Excluir</md-button>
    </div>

    </md-card-content>
</md-card>